td, th {
	border: 1px solid;
  }
  
tr {
background-color: rgb(132,243,217);
font-size: 30px;
border: dashed;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* going to comment this out to see how it affects the fonts
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

#planets {
  width: 75%;
  margin: auto;
}

fact_category {
  width: 80%
  margin: auto;
}