td, th {
	border: 2px solid gray;
  }
  
#main_content{
  background-image: url("../images/red_black_bg.jpg");
  font-family: "Anta" , sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
}

#main_header {
  color: white;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  font-style: italic;
  background-color: red;
}

tr {
  background-color: rgb(132,243,217);
  font-size: 30px;
  border: dashed;
}
#table_area{
  background-image: url();
}
#planets {
  width: 75%;
  margin: auto;
  border: 5px solid white;
  text-align: center;
}


#planet_view {
    background-image: url("../images/space_stars.jpg");
    color: white;
}

#temp {
  background-image: linear-gradient(to right, #4bc1ff, #00a4ff, #0082ff, #1500fb, #0059ff);
}

#footer {
  margin-top: 80px;
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: red;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
}
/* going to comment this out to see how it affects the fonts
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/


